@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@theme {
  --font-sans: Inter, sans-serif;
  --color-red-main: #df0914;
  --spacing-default: 1200px;
}

/* input[type="number"] { 
  appearance: textfield; 
-moz-appearance: textfield;
} */

/* input {
  outline: none;
  border: none;
  overflow: auto;
  background-color: inherit;
}

input:active {
  outline: none;
  border: none;
} */
